<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>
<br>
<h2 class="top">Announcements<%= "<small class='text-danger'> No Announcement to Display</small>".html_safe if @announcements.blank?  %></h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Course</th>
    <th>Heading</th>
    <th>Description</th>
    <th>Download</th>
    <th>
      <Action>Details</Action>
    </th>
  </tr>
  </thead>
  <tbody style="vertical-align:middle;">
  <% @announcements.each do |announcement| %>
      <tr>
        <td width="8%">
          <span class="label label-info btn-circle btn-xl small">
            <i>
              <%=  (!announcement.course.blank?) ? announcement.course.course_name : "General"%>
            </i>
          </span>
        </td>
        <td width="21%" style="word-wrap: break-word"><%= announcement.heading %></td>
        <td width="55%" style="word-wrap: break-word"><%= announcement.description %></td>
        <td width="8%"><%= if !announcement.attachment_url.blank?
                             link_to "Download", announcement.attachment_url
                           end %></td>
        <td width="8%"><%= link_to 'Show', announcement %></td>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

