<p id="notice"><%= notice %></p>

<h2 class="alert-info alert"> <%=@announcement.heading  %> </h2>
<br>

<h3 class="label label-success">Description:</h3>
<p  style="padding: 1em">
  <%=  @announcement.description  %>
</p>
<br>
<p>
  <label class="label label-info">Attachment:</label>
  <%= if !@announcement.attachment_url.blank?
        link_to "Download", @announcement.attachment_url
      else
        "No attachement"
      end %>
</p>
<br>
<%= link_to 'Back', announcements_path %>



