<div class="top-menu">
  <span class="menu"></span>
  <ul class="navig">
    <li class="<%= 'active' if params[:controller] == 'home' && params[:action]== 'index'%>">
      <%= link_to :Home, controller: 'home', action: 'index' %>
    </li>
    <li class="dropdown <%= 'active' if params[:controller] == 'home' && params[:action]== 'about'%>">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="w100p"><%= link_to :Department,controller: 'home',action: 'department' %></li>
        <li class="w100p"><%= link_to :ChairmanMessage,controller: 'home',action: 'chairman_message' %></li>
        <li class="w100p"><%= link_to :Faculty,controller: 'faculties',action: 'index' %></li>
        <li class="w100p"><%= link_to 'Non Teaching Staff',controller: 'non_teaching_staffs',action: 'index' %></li>
      </ul>
    </li>
    <li class="<%= 'active' if params[:controller] == 'home'&& params[:action]== 'courses' %>">
      <%= link_to "Courses",controller: 'home',action: 'courses' %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'results' %>">
      <%= link_to "Results",controller: 'results' %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'announcements' %>">
      <%= link_to "Annoucements",controller: 'announcements' %>
    </li>
  </ul>
</div>