<%# <%=javascript_include_tag 'responsiveslides.min', "data-turbolinks-track" => true %> <%#<script src= "js/responsiveslides.min.js"></script> %>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>

<div class="banner">
  <div class="header">
    <div class="logo">
      <a href="/">
        <%# <img src="/assests/logo.jpg" alt=""/>%>
        <%= image_tag('logo.jpg') %>
      </a>
    </div>
    <%= render 'partials/navigation' %>
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $("ul.navig").slideToggle("slow", function () {
            });
        });
    </script>
    <!-- script-for-menu -->

    <div class="clearfix"></div>
  </div>
  <div class="slider">
    <div class="caption">
      <div class="container">
        <div class="callbacks_container">
          <ul class="rslides" id="slider">
            <li><h3>Nurturing the students of yesterday into resolute builders of the future</h3></li>
            <li><h3>To make the forthcoming generations aware of computer education</h3></li>
            <li><h3>Impart technical as well as interpersonal skills to the students.</h3></li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-grids">
    <div class="container">
      <div class="col-md-4 banner-grid">
        <h3>Announcements</h3>
        <div class="banner-grid-sec">
          <%= render partial: "partials/announcements", collection: Announcement.order("updated_at desc").limit(4) %>
          <div class="more">
            <a href="blog.html">See more from the Blog ></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 banner-grid">
        <h3>Entrance
          <Results></Results>
        </h3>
        <div class="banner-grid-sec">
          <%= render partial: "partials/results", collection: Result.order("updated_at desc").limit(4) %>

          <div class="more">
            <%=link_to 'See all results >', controller: 'results', action: 'index'%>
          </div>
        </div>
      </div>

      <div class="col-md-4 banner-grid">
        <h3>For Students</h3>

        <div class="banner-grid-sec news_sec">
          <div class="news-ltr">
            <h4><a href="#">No new notification</a></h4>

            <p></p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->
<div class="welcome">
  <div class="container">
    <h2>To produce computer professionals who can face the challenges of IT Industry.</h2>

    <div class="welcm_sec">
      <div class="col-md-9 campus">
        <div class="campus_head">
          <h3>Welcome</h3>

          <p class="text-justify">Setup in 1988-89, the Department of Computer Science, Himachal Pradesh University is
            one of the most
            reputed and prolific departments in the University today. It aims at the development of technical skills of
            the students, thus producing highly qualified computer professionals. The Department boasts of efficient
            faculty, proper infrastructure and a high-tech laboratory. Proper training facilities and industrial tours
            are also arranged which contribute to moulding the students' career.</p>
        </div>
        <div class="col-md-4 wel_grid">
          <%= image_tag('w1.jpg', class: "img-responsive") %>
          <h5><a href="#">Master of Computer Applications (M.C.A.)</a></h5>
        </div>
        <div class="col-md-4 wel_grid">
          <%= image_tag('w2.jpg', class: "img-responsive") %>
          <h5><a href="#">Master of Technology (M.Tech)</a></h5>
        </div>
        <div class="col-md-4 wel_grid">
          <%= image_tag('w4.jpg', class: "img-responsive") %>
          <h5><a href="#">Doctor of Philosophy (Ph.D)</a></h5>
        </div>
        <!--<div class="clearfix"></div>-->
        <!--<div class="more_info">-->
        <!--<a href="blog.html">More Info....</a>-->
        <!--</div>-->
      </div>
      <div class="col-md-3 testimonal">
        <h3>Quotes</h3>

        <div class="testimnl-grid">
          <p>Education is the best friend. An educated person is respected everywhere. Education beats the beauty and the youth.</p>
          <h5>Chanakya</h5>
        </div>
        <div class="testimnl-grid">
          <p>Climbing to the top demands strength, whether it is to the top of Mount Everest or to the top of your
            career.</p>
          <h5>A. P. J. Abdul Kalam</h5>
        </div>
        <div class="testimnl-grid">
          <p>Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the
            brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea
            alone. This is the way to success.
          </p>
          <h5>Swami Vivekananda</h5>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->
<div class="news">
  <div class="container">
    <!--<h3>Top News</h3>-->

    <!--<div class="event-grids">-->
      <!--<marquee>-->
        <!--<div class="documentList">-->
          <!--<div class="col-md-4 event-grid">-->
            <!--<div class="date">-->
              <!--<h4>26</h4>-->
              <!--<span>08/2012</span>-->
            <!--</div>-->
            <!--<div class="event-info">-->
              <!--<h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>-->

              <!--<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at,-->
                <!--volutpat et orci. Aliquam eu tellus orci.</p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="col-md-4 event-grid">-->
            <!--<div class="date">-->
              <!--<h4>24</h4>-->
              <!--<span>06/2012</span>-->
            <!--</div>-->
            <!--<div class="event-info">-->
              <!--<h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>-->

              <!--<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at,-->
                <!--volutpat et orci. Aliquam eu tellus orci.</p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="col-md-4 event-grid">-->
            <!--<div class="date">-->
              <!--<h4>20</h4>-->
              <!--<span>04/2012</span>-->
            <!--</div>-->
            <!--<div class="event-info">-->
              <!--<h5><a href="#">Etiam malesuada feugiat rutrum purus quis vulputate.</a></h5>-->

              <!--<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at,-->
                <!--volutpat et orci. Aliquam eu tellus orci.</p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</div>-->
      <!--</marquee>-->
    <!--</div>-->

  </div>
</div>
<!---->
<%= render 'partials/footer' %>
