<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.name %>
</p>
<br>
<p>
  <strong>Description:</strong>
  <%= @result.description %>
</p>
<br>
<p>
  <strong>Attachment:</strong>
  <%= link_to "Download", @result.attachment_url %>
</p>
<br>
<%= link_to 'Back', results_path %>
